body {
    font-family: Arial, sans-serif;
    background-color: green;
    margin: 0;
    padding: 0;
}

h1 {
    color: brown;   
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: orange;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#result1, #result2 {
    margin-top: 20px;
}
